PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=jn6fCCB0sfpZkU6NbVAKJLcvrLphltY3
DRIVE_DISK=local
JWT_SECRET=그런 날이 있어 갑자기 혼자인 것만 같은 날 어딜 가도 내 자리가 아닌 것만 같고 고갠 떨궈지는 날 그럴 때마다 내게 얼마나 내가 소중한지 말해주는 너의 그 한마디에
MONGODB_URL=mongodb://localhost:27017/mybeans